.selectbutton {
  font-size: medium;
  height: auto;
  height: 70px;
  background-color: #333;
}
.firstoption {
  font-weight: 700;
}
@media screen and (max-width: 500px) {
  .select {
    width: 150px;
  }
}
