.header {
  height: 100px;
  background-color: #3d9e96;
  color: black;
}

.headerwrapper {
  height: 100px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
