.input {
  background-color: white;
  height: 70px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
}
.lightinput {
  margin-left: 10px;
  padding-left: 10px;
  border: hidden;
  background-color: white;
  height: 30px;
}

.input input:focus {
  background-color: white;
  border: transparent;
}

.span {
  color: white;
}

@media screen and (max-width: 500px) {
  .input {
    margin-left: -20px;
    width: 130px;
    height: 30px;
    border-radius: 2px;
    margin-left: 3px;
  }
  span {
    color: transparent;
  }
  .lightinput {
    max-width: 150px;
    height: 30px;
    margin-left: 10px;
  }
}
